<section>
    <h1>友情链接</h1>
    <ul>
       
       <li>
           <a href="http://cuiqingcai.com/" target="_blank" title="静觅">静觅</a>
       </li>
        <li>
            <a href="http://blog.csdn.net/iosdevtip" target="_blank" title="刚刚在线">CSDN</a>
        </li>
        <li>
        <a href="http://user.qzone.qq.com/1606535851" target="_blank" title="刚刚在线">QQ空间</a>
        </li>
        <li>
            <a href="http://www.bmob.cn/" target="_blank" title="Bmob">Bmob移动后端云</a>
        </li>
        
    </ul>
</section>