<section>
  <h1>2016年值得关注的公众号</h1>
        <br/>
        <br/><strong>公众号iOS开发：iOSDevTip</strong> 
        <br/>
        <br/><img width="220px" src="http://images.90159.com/icon/iOSDevTip.jpg" />
        <br/>
        <br/><strong>公众号猿圈：CodePush</strong>
        <br/>
        <br/><img width="220px" src="http://images.90159.com/icon/codepush.jpg" />
        <br/>
        <br/><strong>Android开发精选：AndroidPush</strong> 
        <br/>
        <br/><img width="220px" src="http://images.90159.com/icon/AndroidPush.jpg" />
        <br/>
        <br/><strong>公众号Python开发：PythonPush</strong> 
        <br/>
        <br/><img width="220px" src="http://images.90159.com/icon/PythonPush.jpg" />
        </p>
  <h1>最新文章</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</section>
