<p>
Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} 
<span class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a></span>
 <span class="credit">, 感谢 <a href="https://coding.net" target="_blank">Coding</a> 为本站提供存储空间</span><a href="http://www.miitbeian.gov.cn" target="_blank" title=" 豫ICP备16000765号-3"> 豫ICP备16000765号-2</a> 

</p>

<script language="javascript" type="text/javascript" src="http://js.users.51.la/17443209.js"></script>
<noscript><a href="http://www.51.la/?17443209" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17443209.asp" style="border:none" /></a></noscript>